header {
    background-color: rgb(180, 153, 17);
    color: rgb(67, 70, 69);
    text-align: center;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 10px;
}

body {
    color: rgb(28, 67, 49);
    background-color: rgb(175, 184, 179);
    font-size: 14pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.subheader,
strong {
    color: rgb(27, 132, 97);
    font-size: 16pt;
}

.frontend {
    line-height: 2.6;
}
.harvestfoto {
    float: left;
    padding-right: 20px;
    width: 200px;
    height: 250px;
    border-radius: 50%;
}

.winenerd {
    padding-top: 70px;
    padding-bottom: 30px;
    line-height: 2.6;
}

.Pittiesfoto {
    height: 300px;
    width: 250px;
    float: left;
    padding-right: 30px;
    border-radius: 50%;
}

.pups {
    line-height: 2.6;
    margin-left: 50px;
    padding-top: 40px;
    padding-bottom: 30px;
}

.container {
    float: left;
}

footer {
    display: flex;
    justify-content: flex-end;
    justify-content: center;
}

.nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

a {
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(67, 70, 69)
}
